---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'jpg' %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% elsif image.path contains 'mp4' %}
        <article class="thumb">
            <a href="{{ image.path }}" class="video" data-poptrox="video,600x400">
              <video loop autoplay muted playsinline>
                <source src="{{ image.path }}" type="video/mp4">
                Your browser does not support HTML5 video.
              </video></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                </section>
                <section>
                    <h2>Follow me on ...</h2>
                    <ul class="icons">
                        <li><a href="{{ site.social_urls.facebook }}" class="icon fa-facebook"><span
                                class="label">Facebook</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.twitter }}" class="icon fa-twitter"><span
                                class="label">Twitter</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.instagram }}" class="icon fa-instagram"><span
                                class="label">Instagram</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.github }}" class="icon fa-github"><span
                                class="label">GitHub</span></a>
                        </li>
                        <li><a href="{{ site.social_urls.linkedin }}" class="icon fa-linkedin"><span
                                class="label">LinkedIn</span></a>
                        </li>
                    </ul>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}.
                </p>
            </div>
            <div>
                <section>
                    <h2>Get in touch</h2>
                    <form id="gform" method="post" action="http://script.google.com/macros/s/AKfycby9MaZAJZn-YQcM_WvPXY8hlx83YRYRoIUGaWZwrPe9IJnsMPAm/exec">
                        <div class="field half first">
                            <input type="text" name="name" id="name" placeholder="Name"/>
                        </div>
                        <div class="field half">
                            <input type="text" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="special"/></li>
                            <li><input type="reset" value="Reset"/></li>
                        </ul>
                    </form>
                </section>
            </div>
        </div>
    </footer>
</div>
